@import './../../variables.scss';

.Toolbar {
  background: $primary;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
  }

  &__logo {
    margin-right: 32px;
  }

  &__search {
    display: flex;
    align-items: center;
    flex: 11;

    &__input {
      padding: 0 8px;
      font-size: 18px;
      height: 34px;
      border-radius: 4px 0px 0px 4px;
      flex: 11;

      &:focus,
      &:active {
        outline: 0 !important;
      }
    }

    &__button {
      height: 34px;
      border: none;
      background: $neutral-xlight;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
      width: 40px;

      &:focus,
      &:active {
        outline: 0 !important;
        background-color: $neutral-light;
      }
    }
  }
}
